
<div class="flex flex-col items-center justify-center min-h-screen bg-base-200 w-screen">

  <div class="w-full max-w-md p-8 space-y-6 bg-base-100 rounded-lg">

    <h2 class="text-2xl font-bold text-center">Edit user</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-control mb-4">
        <%= f.label :email, class: "label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered w-full" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="mb-4 text-sm text-warning">
          Currently waiting confirmation for: <%= resource.unconfirmed_email %>
        </div>
      <% end %>
      
      <div class="form-control mb-4">
        <%= f.label :password, class: "label" %> <i>(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, autocomplete: "new-password", class: "input input-bordered w-full" %>
        <% if @minimum_password_length %>
          <em class="text-xs">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>

      <div class="form-control mb-4">
        <%= f.label :password_confirmation, class: "label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input input-bordered w-full" %>
      </div>

      <div class="form-control mb-4">
        <%= f.label :current_password, class: "label" %> <i>(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "input input-bordered w-full" %>
      </div>

      <div class="form-control mt-6">
        <%= f.submit "Update", class: "btn btn-primary w-full" %>
      </div>

    <% end %>

    <div class="mt-8">
      <h3 class="text-lg font-semibold mb-2">Cancel my account</h3>
      <div><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-error btn-outline w-full" %></div>
    </div>

    <div class="mt-4 text-center">
      <%= link_to "Back", :back, class: "link link-primary hover:underline decoration-wavy" %>
    </div>
    
  </div>
</div>
