<div id="<%= dom_id challenge %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= challenge.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= challenge.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Difficulty:</strong>
    <%= challenge.difficulty %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Constraints:</strong>
    <%= challenge.constraints %>
  </div>
</div>
