<div id="<%= dom_id challenge %>" class="card bg-base-200 border border-base-300 shadow-lg my-5">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="card-body">
    <div class="flex items-center justify-between w-xl">
      <h3 class="text-xl font-bold mb-2">
        <%= link_to challenge.title, challenge_path(challenge.id), class: "link link-hover text-primary" %>
      </h3>
      <% if current_user && current_user.super_admin? %>
        <button class="btn btn-primary btn-outline" popovertarget="popover-1" style="anchor-name:--anchor-1">
          ⬇️
        </button>
        <ul class="dropdown menu w-52 bg-base-200 rounded-box shadow-sm" popover id="popover-1" style="position-anchor:--anchor-1">
          <%= link_to "Show", challenge, class: 'w-full font-bold text-center text-lg cursor-pointer hover:underline decoration-wavy' %>
          <%= link_to "Edit", edit_challenge_path(challenge), class: "w-full font-bold text-center text-lg cursor-pointer hover:underline decoration-wavy" %>
          <%= button_to "Destroy", challenge, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: 'w-full bg-red-500 text-lg cursor-pointer hover:bg-red-400 text-white font-bold p-0 m-0 rounded' %>
        </ul>
      <% end %>
    </div>
    <p class="text-base-content/70 text-sm mb-4 line-clamp-1">
      <%= truncate(challenge.description, length: 80) %>
    </p>
    <div class="flex items-center gap-2">
      <span class="badge badge-outline badge-info">Difficulty: <%= challenge.difficulty %></span>
    </div>
    
  </div>
</div>
