<% content_for :title, "Challenges" %>


<div class="w-full max-w-5xl mx-auto py-10">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-900/20 mb-5 text-green-400 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center mb-8">
    <h1 class="font-bold text-4xl text-base-content">Challenges</h1>
    <%= link_to "New challenge", new_challenge_path, class: "btn btn-primary rounded-md" %>
  </div>

  <div id="challenges" class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8">
    <% if @challenges.any? %>
      <% @challenges.each do |challenge| %>
        <div class="card bg-base-200 border border-base-300 shadow-lg flex flex-col h-full transition-all duration-300 hover:scale-[1.02]">
          <div class="card-body p-6 flex flex-col gap-4">
            <%= render challenge %>
            <div class="flex flex-col sm:flex-row gap-2 mt-4">
              <%= link_to "Show", challenge, class: "btn btn-sm btn-outline btn-accent" %>
              <%= link_to "Edit", edit_challenge_path(challenge), class: "btn btn-sm btn-outline btn-info" %>
              <%= button_to "Destroy", challenge, method: :delete, class: "btn btn-sm btn-error", data: { turbo_confirm: "Are you sure?" } %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="my-10 text-base-content/70">No challenges found.</p>
    <% end %>
  </div>
</div>
