<% content_for :title, "Showing challenge" %>


<div class="max-w-2xl mx-auto py-10">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-900/20 mb-5 text-green-400 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="card bg-base-200 border border-base-300 shadow-lg">
    <div class="card-body p-8">
      <h1 class="font-bold text-4xl mb-6 text-base-content">Showing challenge</h1>
      <%= render @challenge %>
      <div class="flex flex-col sm:flex-row gap-2 mt-8">
        <%= link_to "Edit this challenge", edit_challenge_path(@challenge), class: "btn btn-outline btn-info" %>
        <%= link_to "Back to challenges", challenges_path, class: "btn btn-outline btn-accent" %>
        <%= button_to "Destroy this challenge", @challenge, method: :delete, form_class: "sm:inline-block", class: "btn btn-error", data: { turbo_confirm: "Are you sure?" } %>
      </div>
    </div>
  </div>
</div>
